{
  "name": "crane",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [],
  "fileTree": {
    "expandedDirs": [],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "scss/custom.scss",
      "imports": [
        "scss/inc/_mixins.scss",
        "scss/inc/_foundation-custom.scss",
        "scss/plugins/font-awesome/_fontawesome.scss",
        "scss/plugins/_slick.scss",
        "scss/plugins/_jquery.fancybox.v2.scss",
        "scss/plugins/_jquery.fancybox.v3.scss",
        "scss/inc/_slider.scss",
        "scss/inc/_animation.scss",
        "scss/inc/_woo.scss",
        "scss/inc/_wp-core.scss",
        "scss/_typography.scss",
        "scss/inc/_gform.scss",
        "scss/_repeatable-blocks.scss",
        "scss/_header.scss",
        "scss/_sidebar.scss",
        "scss/_footer.scss",
        "scss/templates/_home.scss",
        "scss/templates/_blog.scss",
        "scss/templates/_default.scss",
        "scss/templates/_about.scss",
        "scss/templates/_projects.scss",
        "scss/templates/_fleet.scss",
        "scss/templates/_services.scss",
        "scss/templates/_rentals.scss",
        "scss/templates/_safety.scss",
        "scss/templates/_resources.scss",
        "scss/templates/_contact.scss",
        "scss/inc/_vars.scss",
        "node_modules/foundation-sites/scss/util/_util.scss",
        "scss/plugins/font-awesome/_variables.scss",
        "scss/plugins/font-awesome/_mixins.scss",
        "scss/plugins/font-awesome/_core.scss",
        "scss/plugins/font-awesome/_icons.scss",
        "scss/plugins/font-awesome/_brands.scss",
        "scss/plugins/font-awesome/_regular.scss",
        "scss/plugins/font-awesome/_solid.scss",
        "node_modules/foundation-sites/scss/util/_math.scss",
        "node_modules/foundation-sites/scss/util/_unit.scss",
        "node_modules/foundation-sites/scss/util/_value.scss",
        "node_modules/foundation-sites/scss/util/_direction.scss",
        "node_modules/foundation-sites/scss/util/_color.scss",
        "node_modules/foundation-sites/scss/util/_selector.scss",
        "node_modules/foundation-sites/scss/util/_flex.scss",
        "node_modules/foundation-sites/scss/util/_breakpoint.scss",
        "node_modules/foundation-sites/scss/util/_mixins.scss",
        "node_modules/foundation-sites/scss/util/_typography.scss"
      ]
    },
    {
      "path": "scss/foundation.scss",
      "imports": [
        "scss/inc/_foundation-custom.scss",
        "node_modules/foundation-sites/scss/foundation.scss",
        "scss/inc/_vars.scss",
        "node_modules/foundation-sites/scss/util/_util.scss",
        "node_modules/foundation-sites/scss/vendor/normalize.scss",
        "node_modules/foundation-sites/_vendor/sassy-lists/stylesheets/helpers/_missing-dependencies.scss",
        "node_modules/foundation-sites/_vendor/sassy-lists/stylesheets/helpers/_true.scss",
        "node_modules/foundation-sites/_vendor/sassy-lists/stylesheets/functions/_contain.scss",
        "node_modules/foundation-sites/_vendor/sassy-lists/stylesheets/functions/_purge.scss",
        "node_modules/foundation-sites/_vendor/sassy-lists/stylesheets/functions/_remove.scss",
        "node_modules/foundation-sites/_vendor/sassy-lists/stylesheets/functions/_replace.scss",
        "node_modules/foundation-sites/_vendor/sassy-lists/stylesheets/functions/_to-list.scss",
        "node_modules/foundation-sites/scss/settings/_settings.scss",
        "node_modules/foundation-sites/scss/_global.scss",
        "node_modules/foundation-sites/scss/forms/_forms.scss",
        "node_modules/foundation-sites/scss/typography/_typography.scss",
        "node_modules/foundation-sites/scss/grid/_grid.scss",
        "node_modules/foundation-sites/scss/xy-grid/_xy-grid.scss",
        "node_modules/foundation-sites/scss/components/_button.scss",
        "node_modules/foundation-sites/scss/components/_button-group.scss",
        "node_modules/foundation-sites/scss/components/_close-button.scss",
        "node_modules/foundation-sites/scss/components/_label.scss",
        "node_modules/foundation-sites/scss/components/_progress-bar.scss",
        "node_modules/foundation-sites/scss/components/_slider.scss",
        "node_modules/foundation-sites/scss/components/_switch.scss",
        "node_modules/foundation-sites/scss/components/_table.scss",
        "node_modules/foundation-sites/scss/components/_badge.scss",
        "node_modules/foundation-sites/scss/components/_breadcrumbs.scss",
        "node_modules/foundation-sites/scss/components/_callout.scss",
        "node_modules/foundation-sites/scss/components/_card.scss",
        "node_modules/foundation-sites/scss/components/_dropdown.scss",
        "node_modules/foundation-sites/scss/components/_pagination.scss",
        "node_modules/foundation-sites/scss/components/_tooltip.scss",
        "node_modules/foundation-sites/scss/components/_accordion.scss",
        "node_modules/foundation-sites/scss/components/_media-object.scss",
        "node_modules/foundation-sites/scss/components/_orbit.scss",
        "node_modules/foundation-sites/scss/components/_responsive-embed.scss",
        "node_modules/foundation-sites/scss/components/_tabs.scss",
        "node_modules/foundation-sites/scss/components/_thumbnail.scss",
        "node_modules/foundation-sites/scss/components/_menu.scss",
        "node_modules/foundation-sites/scss/components/_menu-icon.scss",
        "node_modules/foundation-sites/scss/components/_accordion-menu.scss",
        "node_modules/foundation-sites/scss/components/_drilldown.scss",
        "node_modules/foundation-sites/scss/components/_dropdown-menu.scss",
        "node_modules/foundation-sites/scss/components/_off-canvas.scss",
        "node_modules/foundation-sites/scss/components/_reveal.scss",
        "node_modules/foundation-sites/scss/components/_sticky.scss",
        "node_modules/foundation-sites/scss/components/_title-bar.scss",
        "node_modules/foundation-sites/scss/components/_top-bar.scss",
        "node_modules/foundation-sites/scss/components/_float.scss",
        "node_modules/foundation-sites/scss/components/_flex.scss",
        "node_modules/foundation-sites/scss/components/_visibility.scss",
        "node_modules/foundation-sites/scss/prototype/_prototype.scss",
        "node_modules/foundation-sites/scss/util/_math.scss",
        "node_modules/foundation-sites/scss/util/_unit.scss",
        "node_modules/foundation-sites/scss/util/_value.scss",
        "node_modules/foundation-sites/scss/util/_direction.scss",
        "node_modules/foundation-sites/scss/util/_color.scss",
        "node_modules/foundation-sites/scss/util/_selector.scss",
        "node_modules/foundation-sites/scss/util/_flex.scss",
        "node_modules/foundation-sites/scss/util/_breakpoint.scss",
        "node_modules/foundation-sites/scss/util/_mixins.scss",
        "node_modules/foundation-sites/scss/util/_typography.scss",
        "node_modules/foundation-sites/scss/forms/_text.scss",
        "node_modules/foundation-sites/scss/forms/_checkbox.scss",
        "node_modules/foundation-sites/scss/forms/_label.scss",
        "node_modules/foundation-sites/scss/forms/_help-text.scss",
        "node_modules/foundation-sites/scss/forms/_input-group.scss",
        "node_modules/foundation-sites/scss/forms/_fieldset.scss",
        "node_modules/foundation-sites/scss/forms/_select.scss",
        "node_modules/foundation-sites/scss/forms/_range.scss",
        "node_modules/foundation-sites/scss/forms/_progress.scss",
        "node_modules/foundation-sites/scss/forms/_meter.scss",
        "node_modules/foundation-sites/scss/forms/_error.scss",
        "node_modules/foundation-sites/scss/typography/_base.scss",
        "node_modules/foundation-sites/scss/typography/_helpers.scss",
        "node_modules/foundation-sites/scss/typography/_alignment.scss",
        "node_modules/foundation-sites/scss/typography/_print.scss",
        "node_modules/foundation-sites/scss/grid/_row.scss",
        "node_modules/foundation-sites/scss/grid/_column.scss",
        "node_modules/foundation-sites/scss/grid/_size.scss",
        "node_modules/foundation-sites/scss/grid/_position.scss",
        "node_modules/foundation-sites/scss/grid/_gutter.scss",
        "node_modules/foundation-sites/scss/grid/_classes.scss",
        "node_modules/foundation-sites/scss/grid/_layout.scss",
        "node_modules/foundation-sites/scss/grid/_flex-grid.scss",
        "node_modules/foundation-sites/scss/xy-grid/_gutters.scss",
        "node_modules/foundation-sites/scss/xy-grid/_grid.scss",
        "node_modules/foundation-sites/scss/xy-grid/_cell.scss",
        "node_modules/foundation-sites/scss/xy-grid/_frame.scss",
        "node_modules/foundation-sites/scss/xy-grid/_position.scss",
        "node_modules/foundation-sites/scss/xy-grid/_layout.scss",
        "node_modules/foundation-sites/scss/xy-grid/_collapse.scss",
        "node_modules/foundation-sites/scss/xy-grid/_classes.scss",
        "node_modules/foundation-sites/scss/prototype/_relation.scss",
        "node_modules/foundation-sites/scss/prototype/_box.scss",
        "node_modules/foundation-sites/scss/prototype/_rotate.scss",
        "node_modules/foundation-sites/scss/prototype/_text-utilities.scss",
        "node_modules/foundation-sites/scss/prototype/_text-transformation.scss",
        "node_modules/foundation-sites/scss/prototype/_text-decoration.scss",
        "node_modules/foundation-sites/scss/prototype/_font-styling.scss",
        "node_modules/foundation-sites/scss/prototype/_list-style-type.scss",
        "node_modules/foundation-sites/scss/prototype/_rounded.scss",
        "node_modules/foundation-sites/scss/prototype/_bordered.scss",
        "node_modules/foundation-sites/scss/prototype/_shadow.scss",
        "node_modules/foundation-sites/scss/prototype/_arrow.scss",
        "node_modules/foundation-sites/scss/prototype/_separator.scss",
        "node_modules/foundation-sites/scss/prototype/_overflow.scss",
        "node_modules/foundation-sites/scss/prototype/_display.scss",
        "node_modules/foundation-sites/scss/prototype/_position.scss",
        "node_modules/foundation-sites/scss/prototype/_border-box.scss",
        "node_modules/foundation-sites/scss/prototype/_border-none.scss",
        "node_modules/foundation-sites/scss/prototype/_sizing.scss",
        "node_modules/foundation-sites/scss/prototype/_spacing.scss"
      ]
    },
    {
      "path": "scss/inc/_foundation-custom.scss",
      "imports": [
        "scss/inc/_vars.scss"
      ]
    },
    {
      "path": "scss/plugins/font-awesome/_brands.scss",
      "imports": [
        "scss/plugins/font-awesome/_variables.scss"
      ]
    },
    {
      "path": "scss/plugins/font-awesome/_fontawesome.scss",
      "imports": [
        "scss/plugins/font-awesome/_variables.scss",
        "scss/plugins/font-awesome/_mixins.scss",
        "scss/plugins/font-awesome/_core.scss",
        "scss/plugins/font-awesome/_icons.scss",
        "scss/plugins/font-awesome/_brands.scss",
        "scss/plugins/font-awesome/_regular.scss",
        "scss/plugins/font-awesome/_solid.scss"
      ]
    },
    {
      "path": "scss/plugins/font-awesome/_regular.scss",
      "imports": [
        "scss/plugins/font-awesome/_variables.scss"
      ]
    },
    {
      "path": "scss/plugins/font-awesome/_solid.scss",
      "imports": [
        "scss/plugins/font-awesome/_variables.scss"
      ]
    }
  ],
  "projectView": {
    "selectedView": "file-tree"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7882,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": true,
      "url": "localhost"
    }
  },
  "browser-sync": {
    "enable": true,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "sftp",
    "remotePath": "",
    "uploadTimeout": 20000,
    "uploadOnChange": true,
    "ftp": {
      "secure": false,
      "keepAlive": true,
      "host": "",
      "port": 21,
      "user": "",
      "password": ""
    },
    "sftp": {
      "host": "localhost",
      "port": 21,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": [
      {
        "file": "bs-config.js",
        "ctime": "2020-02-14T06:46:38.312Z",
        "mtime": "2020-02-12T07:20:51.000Z",
        "size": 703
      },
      {
        "file": "css/custom.css",
        "ctime": "2020-02-24T21:36:11.453Z",
        "mtime": "2020-02-24T21:36:11.453Z",
        "size": 180420
      },
      {
        "file": "header.php",
        "ctime": "2020-02-14T06:46:43.067Z",
        "mtime": "2020-02-12T07:20:55.000Z",
        "size": 3584
      },
      {
        "file": "js/global.js",
        "ctime": "2020-02-24T17:37:38.271Z",
        "mtime": "2020-02-24T17:37:38.271Z",
        "size": 0
      },
      {
        "file": "parts/crane.php",
        "ctime": "2020-02-24T17:37:45.893Z",
        "mtime": "2020-02-24T17:37:45.893Z",
        "size": 0
      },
      {
        "file": "404.php",
        "ctime": "2020-02-14T06:46:36.799Z",
        "mtime": "2020-02-12T07:20:51.000Z",
        "size": 564
      },
      {
        "file": "archive.php",
        "ctime": "2020-02-14T06:46:37.567Z",
        "mtime": "2020-02-12T07:20:51.000Z",
        "size": 963
      },
      {
        "file": "comments.php",
        "ctime": "2020-02-14T06:46:39.114Z",
        "mtime": "2020-02-14T06:46:39.114Z",
        "size": 0
      },
      {
        "file": "category.php",
        "ctime": "2020-02-14T06:46:39.113Z",
        "mtime": "2020-02-12T07:20:51.000Z",
        "size": 982
      },
      {
        "file": "editor-style.css",
        "ctime": "2020-02-14T06:46:39.862Z",
        "mtime": "2020-02-14T06:46:39.862Z",
        "size": 0
      },
      {
        "file": "footer.php",
        "ctime": "2020-02-14T06:46:40.608Z",
        "mtime": "2020-02-14T06:46:40.608Z",
        "size": 0
      },
      {
        "file": "functions.php",
        "ctime": "2020-02-14T06:46:41.447Z",
        "mtime": "2020-02-14T06:46:41.447Z",
        "size": 0
      },
      {
        "file": "home.php",
        "ctime": "2020-02-14T06:46:43.068Z",
        "mtime": "2020-02-14T06:46:43.068Z",
        "size": 0
      },
      {
        "file": "index.php",
        "ctime": "2020-02-14T06:46:44.547Z",
        "mtime": "2020-02-12T07:20:57.000Z",
        "size": 858
      },
      {
        "file": "page.php",
        "ctime": "2020-02-14T06:46:45.281Z",
        "mtime": "2020-02-14T06:46:45.281Z",
        "size": 0
      },
      {
        "file": "screenshot.png",
        "ctime": "2020-02-14T06:46:46.093Z",
        "mtime": "2020-02-14T06:46:46.093Z",
        "size": 0
      },
      {
        "file": "search.php",
        "ctime": "2020-02-14T06:46:48.871Z",
        "mtime": "2020-02-14T06:46:48.871Z",
        "size": 0
      },
      {
        "file": "searchform.php",
        "ctime": "2020-02-14T06:46:49.628Z",
        "mtime": "2020-02-14T06:46:49.628Z",
        "size": 0
      },
      {
        "file": "sidebar-right.php",
        "ctime": "2020-02-14T06:46:50.422Z",
        "mtime": "2020-02-14T06:46:50.422Z",
        "size": 0
      },
      {
        "file": "single.php",
        "ctime": "2020-02-14T06:46:51.177Z",
        "mtime": "2020-02-14T06:46:51.177Z",
        "size": 0
      },
      {
        "file": "style.css",
        "ctime": "2020-02-14T06:46:51.928Z",
        "mtime": "2020-02-14T06:46:51.928Z",
        "size": 0
      },
      {
        "file": "woocommerce.php",
        "ctime": "2020-02-14T06:46:52.703Z",
        "mtime": "2020-02-14T06:46:52.703Z",
        "size": 0
      },
      {
        "file": "wow_examples.php",
        "ctime": "2020-02-14T06:46:53.494Z",
        "mtime": "2020-02-14T06:46:53.494Z",
        "size": 0
      },
      {
        "file": "css/foundation.css",
        "ctime": "2020-02-24T17:37:55.676Z",
        "mtime": "2020-02-24T17:37:55.676Z",
        "size": 193167
      },
      {
        "file": "images/404.png",
        "ctime": "2020-02-14T06:47:01.976Z",
        "mtime": "2020-02-14T06:47:01.976Z",
        "size": 0
      },
      {
        "file": "images/custom-logo.png",
        "ctime": "2020-02-14T06:47:02.748Z",
        "mtime": "2020-02-14T06:47:02.748Z",
        "size": 0
      },
      {
        "file": "images/gf-creditcard-icons.png",
        "ctime": "2020-02-14T06:47:03.471Z",
        "mtime": "2020-02-14T06:47:03.471Z",
        "size": 0
      },
      {
        "file": "images/grabbing.png",
        "ctime": "2020-02-14T06:47:05.126Z",
        "mtime": "2020-02-12T07:21:17.000Z",
        "size": 116
      },
      {
        "file": "images/placeholder.jpg",
        "ctime": "2020-02-14T06:47:06.611Z",
        "mtime": "2020-02-12T07:21:19.000Z",
        "size": 28608
      },
      {
        "file": "images/fancybox/fancybox_buttons.png",
        "ctime": "2020-02-14T06:47:08.072Z",
        "mtime": "2020-02-12T07:21:20.000Z",
        "size": 1080
      },
      {
        "file": "images/fancybox/fancybox_overlay.png",
        "ctime": "2020-02-14T06:47:09.541Z",
        "mtime": "2020-02-14T06:47:09.541Z",
        "size": 0
      },
      {
        "file": "images/fancybox/fancybox_sprite.png",
        "ctime": "2020-02-14T06:47:10.107Z",
        "mtime": "2020-02-14T06:47:10.107Z",
        "size": 0
      },
      {
        "file": "images/fancybox/fancybox_sprite@2x.png",
        "ctime": "2020-02-14T06:47:10.835Z",
        "mtime": "2020-02-14T06:47:10.835Z",
        "size": 0
      },
      {
        "file": "images/search-header.png",
        "ctime": "2020-02-14T06:47:11.557Z",
        "mtime": "2020-02-14T06:47:11.557Z",
        "size": 0
      },
      {
        "file": "images/calendar-button.png",
        "ctime": "2020-02-14T06:47:12.586Z",
        "mtime": "2020-02-14T06:47:12.586Z",
        "size": 0
      },
      {
        "file": "images/footer-fin.png",
        "ctime": "2020-02-14T06:47:13.351Z",
        "mtime": "2020-02-14T06:47:13.351Z",
        "size": 0
      },
      {
        "file": "images/arrow-button.png",
        "ctime": "2020-02-14T06:47:14.120Z",
        "mtime": "2020-02-14T06:47:14.120Z",
        "size": 0
      },
      {
        "file": "images/about-arrow-left.png",
        "ctime": "2020-02-14T06:47:14.860Z",
        "mtime": "2020-02-14T06:47:14.860Z",
        "size": 0
      },
      {
        "file": "images/about-arrow-right.png",
        "ctime": "2020-02-14T06:47:15.583Z",
        "mtime": "2020-02-14T06:47:15.583Z",
        "size": 0
      },
      {
        "file": "images/home-fin-right1.png",
        "ctime": "2020-02-24T17:37:23.757Z",
        "mtime": "2020-02-14T06:47:18.000Z",
        "size": 7477
      },
      {
        "file": "images/crane-fin-right.png",
        "ctime": "2020-02-24T17:37:24.671Z",
        "mtime": "2020-02-14T06:47:19.000Z",
        "size": 164827
      },
      {
        "file": "images/360-icon.png",
        "ctime": "2020-02-24T17:37:24.680Z",
        "mtime": "2020-02-24T17:37:24.680Z",
        "size": 0
      },
      {
        "file": "images/download-icon.png",
        "ctime": "2020-02-24T17:37:25.789Z",
        "mtime": "2020-02-24T17:37:25.789Z",
        "size": 0
      },
      {
        "file": "images/arrow-dropdown-right.png",
        "ctime": "2020-02-24T17:37:26.835Z",
        "mtime": "2020-02-24T17:37:26.835Z",
        "size": 0
      },
      {
        "file": "images/arrow-dropdown-down.png",
        "ctime": "2020-02-24T17:37:27.843Z",
        "mtime": "2020-02-24T17:37:27.843Z",
        "size": 0
      },
      {
        "file": "images/expand-icon.png",
        "ctime": "2020-02-24T17:37:28.852Z",
        "mtime": "2020-02-24T17:37:28.852Z",
        "size": 0
      },
      {
        "file": "inc/class-foundation-navigation.php",
        "ctime": "2020-02-24T17:37:29.803Z",
        "mtime": "2020-02-24T17:37:29.803Z",
        "size": 0
      },
      {
        "file": "inc/class-dynamic-admin.php",
        "ctime": "2020-02-24T17:37:30.576Z",
        "mtime": "2020-02-24T17:37:30.576Z",
        "size": 0
      },
      {
        "file": "inc/class-lazyload.php",
        "ctime": "2020-02-24T17:37:31.341Z",
        "mtime": "2020-02-24T17:37:31.341Z",
        "size": 0
      },
      {
        "file": "inc/class-tgm-plugin-activation.php",
        "ctime": "2020-02-24T17:37:32.125Z",
        "mtime": "2020-02-24T17:37:32.125Z",
        "size": 0
      },
      {
        "file": "inc/custom-fields-search.php",
        "ctime": "2020-02-24T17:37:33.050Z",
        "mtime": "2020-02-24T17:37:33.050Z",
        "size": 0
      },
      {
        "file": "inc/helpers.php",
        "ctime": "2020-02-24T17:37:33.809Z",
        "mtime": "2020-02-24T17:37:33.809Z",
        "size": 0
      },
      {
        "file": "inc/home-slider.php",
        "ctime": "2020-02-24T17:37:34.572Z",
        "mtime": "2020-02-24T17:37:34.572Z",
        "size": 0
      },
      {
        "file": "inc/recommended-plugins.php",
        "ctime": "2020-02-24T17:37:35.312Z",
        "mtime": "2020-02-24T17:37:35.312Z",
        "size": 0
      },
      {
        "file": "inc/shortcodes.php",
        "ctime": "2020-02-24T17:37:36.068Z",
        "mtime": "2020-02-24T17:37:36.068Z",
        "size": 0
      },
      {
        "file": "inc/svg-support.php",
        "ctime": "2020-02-24T17:37:36.816Z",
        "mtime": "2020-02-24T17:37:36.816Z",
        "size": 0
      },
      {
        "file": "inc/woo-custom.php",
        "ctime": "2020-02-24T17:37:37.539Z",
        "mtime": "2020-02-24T17:37:37.539Z",
        "size": 0
      },
      {
        "file": "js/foundation.min.js",
        "ctime": "2020-02-24T17:37:38.997Z",
        "mtime": "2020-02-24T17:37:38.997Z",
        "size": 0
      },
      {
        "file": "js/plugins/jquery.fancybox.v2.js",
        "ctime": "2020-02-24T17:37:39.901Z",
        "mtime": "2020-02-24T17:37:39.901Z",
        "size": 0
      },
      {
        "file": "js/plugins/jarallax.min.js",
        "ctime": "2020-02-24T17:37:40.641Z",
        "mtime": "2020-02-24T17:37:40.641Z",
        "size": 0
      },
      {
        "file": "js/plugins/jquery.fancybox.v3.js",
        "ctime": "2020-02-24T17:37:41.401Z",
        "mtime": "2020-02-24T17:37:41.401Z",
        "size": 0
      },
      {
        "file": "js/plugins/jquery.matchHeight-min.js",
        "ctime": "2020-02-24T17:37:42.160Z",
        "mtime": "2020-02-24T17:37:42.160Z",
        "size": 0
      },
      {
        "file": "js/plugins/lazyload.min.js",
        "ctime": "2020-02-24T17:37:42.896Z",
        "mtime": "2020-02-24T17:37:42.896Z",
        "size": 0
      },
      {
        "file": "js/plugins/slick.min.js",
        "ctime": "2020-02-24T17:37:43.644Z",
        "mtime": "2020-02-24T17:37:43.644Z",
        "size": 0
      },
      {
        "file": "js/plugins/isotope.pkgd.min.js",
        "ctime": "2020-02-24T17:37:44.384Z",
        "mtime": "2020-02-24T17:37:44.384Z",
        "size": 0
      },
      {
        "file": "parts/loop-post.php",
        "ctime": "2020-02-24T17:37:45.115Z",
        "mtime": "2020-02-24T17:37:45.115Z",
        "size": 0
      },
      {
        "file": "parts/quote.php",
        "ctime": "2020-02-24T17:37:46.612Z",
        "mtime": "2020-02-24T17:37:46.612Z",
        "size": 0
      },
      {
        "file": "templates/template-home.php",
        "ctime": "2020-02-24T21:07:37.548Z",
        "mtime": "2020-02-24T21:07:37.547Z",
        "size": 10666
      },
      {
        "file": "templates/template-full.php",
        "ctime": "2020-02-24T17:38:17.441Z",
        "mtime": "2020-02-24T17:38:17.441Z",
        "size": 0
      },
      {
        "file": "templates/template-contact.php",
        "ctime": "2020-02-15T14:44:39.665Z",
        "mtime": "2020-02-15T14:44:39.665Z",
        "size": 544
      },
      {
        "file": "parts/video-popup.php",
        "ctime": "2020-02-24T17:37:47.334Z",
        "mtime": "2020-02-24T17:37:47.334Z",
        "size": 0
      },
      {
        "file": "templates/template-about.php",
        "ctime": "2020-02-24T17:38:18.181Z",
        "mtime": "2020-02-24T17:38:18.181Z",
        "size": 0
      },
      {
        "file": "templates/template-projects.php",
        "ctime": "2020-02-24T17:38:18.906Z",
        "mtime": "2020-02-24T17:38:18.906Z",
        "size": 0
      },
      {
        "file": "templates/template-rentals.php",
        "ctime": "2020-02-24T17:38:22.692Z",
        "mtime": "2020-02-20T09:34:25.000Z",
        "size": 4330
      },
      {
        "file": "templates/template-resources.php",
        "ctime": "2020-02-24T17:38:24.164Z",
        "mtime": "2020-02-20T11:29:02.000Z",
        "size": 3587
      },
      {
        "file": "templates/template-safety.php",
        "ctime": "2020-02-24T17:38:23.429Z",
        "mtime": "2020-02-19T16:28:40.000Z",
        "size": 4618
      }
    ]
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"]}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "ie8": false,
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "unsafe_math": false,
      "unsafe_proto": false,
      "unsafe_regexp": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "toplevel": false,
      "top_retain": "",
      "hoist_funs": true,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "collapse_vars": true,
      "reduce_vars": true,
      "warnings": true,
      "negate_iife": true,
      "pure_getters": false,
      "pure_funcs": [],
      "drop_console": false,
      "expression": false,
      "keep_fargs": true,
      "keep_fnames": false,
      "passes": 1,
      "keep_infinity": false,
      "side_effects": true,
      "global_defs": []
    },
    "output": {
      "ascii_only": false,
      "beautify": false,
      "comments": "",
      "indent_level": 4,
      "indent_start": 0,
      "inline_script": false,
      "keep_quoted_props": false,
      "max_line_len": false,
      "preamble": "",
      "preserve_line": false,
      "quote_keys": false,
      "quote_style": 0,
      "semicolons": true,
      "shebang": true,
      "width": 80
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}